/* Variables */
$laptop: "(min-width: 1020px)";

/* MIXIXS */
@mixin mediaQueries($arg) {
  @media screen and (#{$arg}) {
    @content;
  }
}

* {
  background-color: tomato;
  font-family: "Monserrat", sans-serif;
}

/* MODAL */
.modal-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}

.material-icons.sm-12 {
  font-size: 20px;
}

.modal-about {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
}

.modal-cancel {
  background-color: white;
}
