/* Variables */
/* MIXIXS */
* {
  background-color: tomato;
  font-family: "Monserrat", sans-serif;
  font-size: 14;
  margin: 0;
  padding: 0;
}

/* MODAL */
.modal-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.modal-btn {
  background-color: transparent;
  border: none;
  margin: 5px 5px 0 0;
  opacity: 0.85;
}

.sm-12 {
  background-color: white;
}

.modal-about {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0.5em;
}

.modal-cancel {
  background-color: white;
  border: none;
  float: right;
}

.material-icons .sm-12 {
  font-size: 20px;
}

.modal-title {
  background-color: white;
  color: royalblue;
  font-size: 1.2em;
  padding: 0.5em;
  text-decoration: underline;
}

.user-stories {
  background-color: white;
  font-style: italic;
  padding: 0.5em 2em 0.5em 2.5em;
}

.story:nth-of-type(2),
.story:nth-of-type(3) {
  margin-top: 1em;
}

.modal-text {
  background-color: white;
  margin: 0.5em;
}

.copy {
  background-color: white;
  font-size: 1.1em;
}

.link {
  background-color: white;
  color: royalblue;
  font-weight: 600;
  text-decoration: none;
}

.modal-about::-webkit-backdrop {
  background: darkgray;
  opacity: 0.85;
}

.modal-about::backdrop {
  background: darkgray;
  opacity: 0.85;
}

/* CONTENT OUTLINE */
.title {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.5em;
  margin: 0.5em auto;
  max-width: 225px;
  padding: 0.5em;
  text-align: center;
  width: 75%;
}

.break-and-tally {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 375px;
  width: 95%;
}

@media screen and ((min-width: 1020px)) {
  .break-and-tally {
    margin: 1em auto;
    max-width: 400px;
  }
}

/* BREAK TIMER */
.breakTimer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 200px;
  position: relative;
  right: 10px;
}

@media screen and ((min-width: 1020px)) {
  .breakTimer {
    max-width: 200px;
  }
}

.subtitle {
  color: white;
  font-size: 1.25em;
  margin: 0.25em;
}

.break-clockface {
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 2rem;
  padding: 0.5em;
  text-align: center;
  margin: 0 0.5em;
  width: 50%;
}

.clockface {
  background-color: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.increment-btn {
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 50%;
  height: 40px;
  font-size: 2em;
  font-weight: 600;
  margin: 0.25em;
  width: 40px;
}

/* TALLY COUNTER */
.tally-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100px;
  position: relative;
  right: 10px;
  width: 75px;
}

.tally {
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  height: 50px;
  text-align: center;
  position: relative;
  top: 5px;
  width: 50px;
}

.tally-count {
  background-color: inherit;
  font-size: 2em;
  position: relative;
  top: 7px;
}

/* MAIN TIMER */
.main-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em auto;
  max-width: 350px;
  width: 95%;
}

.main-clockface {
  background-color: white;
  border: 2px solid black;
  border-radius: 40px;
  font-size: 3rem;
  padding: 0.5em;
  text-align: center;
  margin: 0 1em;
  width: 200px;
}

/* ACTION BUTTONS */
.action-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5em auto;
  max-width: 275px;
  width: 95%;
}

.action-btn {
  border: 1px solid black;
  border-radius: 20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.start {
  background-color: lightgreen;
  width: 75%;
}

.pause {
  background-color: skyblue;
  margin-right: 5px;
}

.reset {
  background-color: yellow;
}

/* FOOTER */
.footer {
  bottom: 0;
}

.footer-link {
  color: blue;
}
/*# sourceMappingURL=styles.css.map */