/* Variables */
$laptop: "(min-width: 1020px)";

/* MIXIXS */
@mixin mediaQueries($arg) {
  @media screen and (#{$arg}) {
    @content;
  }
}

* {
  background-color: tomato;
  font-family: "Monserrat", sans-serif;
  font-size: 0;
  margin: 0;
  padding: 0;
}

/* MODAL */
.modal-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}

.modal-btn {
  background-color: transparent;
  border: none;
  margin: 5px 5px 0 0;
  opacity: 0.85;
}

.sm-12 {
  background-color: white;
}

.modal-about {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0.5em;
}

.modal-cancel {
  background-color: white;
  border: none;
  float: right;
}

.material-icons .sm-12 {
  font-size: 20px;
}

.modal-title {
  background-color: white;
  color: royalblue;
  font-size: 1.2em;
  padding: 0.5em;
  text-decoration: underline;
}

.user-stories {
  background-color: white;
  font-style: italic;
  padding: 0.5em 2em 0.5em 2.5em;
}

.clockface {
  background-color: inherit;
}
