/* Variables */
$laptop: "(min-width: 1020px)";

* {
  background-color: tomato;
  font-family: "Monserrat", sans-serif;
}

/* MODAL */
.modal-container {
  display: inline-flex;
  justify-content: flex-end;
  width: 100%;
}

.material-icons.sm-12 {
  font-size: 20px;
}
